In [1]:
from dash import Dash, html, dcc
from dash.dependencies import Output, Input
from jupyter_dash import JupyterDash
import plotly.express as px
import pandas as pd

In [2]:
app.layout = html.Div([
    "Pick a color!",
    dcc.Dropdown(
        options=[
            {"label": "Red", "value": "#FF0000"},
            {"label": "Green", "value": "#00FF00"},
            {"label": "Blue", "value": "#0000FF"}
        ],
        id="color-input",
        value="#FF0000"
    )
])

if __name__ == "__main__":
    app.run_server(mode="inline")

NameError: name 'app' is not defined

In [ ]:
import seaborn as sb

df = sb.load_dataset("anscombe")

df.head()

In [ ]:
df.head()

In [ ]:
px.scatter(df, x="x", y="y")

In [ ]:
px.scatter(df.loc[df["dataset"]=="II"], x="x", y="y")

In [ ]:
app = JupyterDash(__name__)

app.layout = html.Div([
    html.H3("Anscombe's Quartet"),
    dcc.Graph(
        id="visual",
        figure=px.scatter(df.loc[df["dataset"]=="II"], x="x", y="y")
    )
])

if __name__ == "__main__":
    app.run_server(mode="inline")

In [ ]:
app = JupyterDash(__name__)

app.layout = html.Div([
    html.H3("Anscombe's Quartet"),
    dcc.Dropdown(
        id="dropdown",
        options=[{"label": x, "value": x} for x in df["dataset"].unique()]
    ),
    dcc.Graph(
        id="visual",
        figure=px.scatter(df.loc[df["dataset"]=="II"], x="x", y="y")
    )
])

if __name__ == "__main__":
    app.run_server(mode="inline")

In [ ]:
app = JupyterDash(__name__)

app.layout = html.Div([
    html.H3("Anscombe's Quartet"),
    dcc.Dropdown(
        id="dropdown",
        options=[{"label": x, "value": x} for x in df["dataset"].unique()]
    ),
    dcc.Graph(id="visual")
])

@app.callback(Output("visual", "figure"), Input("dropdown", "value"))
def interactive_visual(selection):
    fig=px.scatter(df.loc[df["dataset"]==selection], x="x", y="y")
    return fig

if __name__ == "__main__":
    app.run_server(mode="inline")

In [ ]:
import pandas as pd

df = pd.read_csv("states_all.csv")

df.head()

In [ ]:
education = df.loc[:,["STATE", "YEAR", "TOTAL_EXPENDITURE"]]

In [ ]:
education.head()

In [ ]:
import plotly.express as px

In [ ]:
px.line(
    education.query("STATE in ['CALIFORNIA', 'MASSACHUSETTS']"),
    x="YEAR",
    y="TOTAL_EXPENDITURE",
    color="STATE",
    title="Education Spend in California vs. Massachusetts"
)

In [ ]:
px.bar(
    education.query("STATE in ['CALIFORNIA', 'MASSACHUSETTS']"),
    x="YEAR",
    y="TOTAL_EXPENDITURE",
    color="STATE",
    title="Education Spend in California vs. Massachusetts"
)

In [3]:
revenue = df.loc[df["YEAR"]==2015, ["STATE", "FEDERAL_REVENUE", "STATE_REVENUE", "LOCAL_REVENUE"]].melt(
    id_vars="STATE",
    var_name="TYPE",
    value_name="REVENUE"
)

revenue = revenue.query("STATE in ['CALIFORNIA', 'IDAHO', 'MASSACHUSETTS', 'NORTH_CAROLINA']")

NameError: name 'df' is not defined

In [ ]:
revenue

In [ ]:
px.bar(
    revenue,
    x="STATE",
    y="REVENUE",
    color="TYPE",
    title="Revenue Breakdown by State"
)

In [ ]:
px.bar(
    revenue,
    x="STATE",
    y="REVENUE",
    color="TYPE",
    barmode="group",
    title="Revenue Breakdown by State"
)

In [ ]:
expenditure = df.loc[df["YEAR"]==2015,["STATE","TOTAL_EXPENDITURE","AVG_MATH_8_SCORE","AVG_READING_8_SCORE"]].fillna(0)

In [ ]:
expenditure.head()

In [ ]:
px.scatter(
    expenditure,
    x="AVG_MATH_8_SCORE",
    y="AVG_READING_8_SCORE",
    title = "Math & Reading Scores"
)

In [ ]:
px.scatter(
    expenditure,
    x="AVG_MATH_8_SCORE",
    y="AVG_READING_8_SCORE",
    size="TOTAL_EXPENDITURE",
    title = "Math & Reading Scores by Spend"
)

In [ ]:
px.scatter(
    expenditure,
    x="AVG_MATH_8_SCORE",
    y="AVG_READING_8_SCORE",
    size="TOTAL_EXPENDITURE",
    trendline="ols",
    title = "Math & Reading Scores by Spend"
)

In [ ]:
grades = df.loc[:,["STATE","YEAR","AVG_MATH_4_SCORE"]]

In [ ]:
grades.head()

In [ ]:
px.histogram(
    grades,
    x="AVG_MATH_4_SCORE",
    title="4th Grade Math Scores"
)

In [ ]:
px.histogram(
    grades,
    x="AVG_MATH_4_SCORE",
    nbins=20,
    histnorm="percent",
    text_auto=True,
    title="4th Grade Math Scores"
)

In [ ]:
px.pie(
    revenue,
    values="REVENUE",
    names="TYPE",
    title="Revenue Breakdown"
)

In [ ]:
px.pie(
    revenue,
    values="REVENUE",
    names="TYPE",
    hole=0.7,
    category_orders={"TYPE":["STATE_REVENUE","LOCAL_REVENUE","FEDERAL_REVENUE"]},
    color_discrete_sequence=px.colors.qualitative.T10,
    title="Revenue Breakdown"
).update_layout(
    title_font = dict(
        color="grey",
        size=24
    ),
    title = {
        "x":0.45,
        "y":0.9
    },
    legend_orientation = "h"
)

In [ ]:
px.line(
    education.query("STATE in ['CALIFORNIA', 'MASSACHUSETTS']"),
    x="YEAR",
    y="TOTAL_EXPENDITURE",
    color="STATE",
    title="Education Spend by State"
)

In [ ]:
px.line(
    education.query("STATE in ['CALIFORNIA', 'MASSACHUSETTS']"),
    x="YEAR",
    y="TOTAL_EXPENDITURE",
    color="STATE",
    title="Education Spend by State"
).update_layout(
    title_font = dict(
        color="grey",
        size=24
    ),
    title = {
        "x":.43,
        "y":.9,
        "xanchor":"center"
    },
    legend_title="",
    width=750
)

In [ ]:
fig = px.line(
    education.query("STATE in ['CALIFORNIA', 'MASSACHUSETTS']"),
    x="YEAR",
    y="TOTAL_EXPENDITURE",
    color="STATE",
    title="Education Spend by State"
)

In [ ]:
fig.update_layout(
    title_font = dict(
        color="grey",
        size=24
    ),
    title = {
        "x":.43,
        "y":.9,
        "xanchor":"center",
    },
    legend_title="",
    width=750
)

In [ ]:
fig.update_traces(
    mode="lines+markers",
    opacity=.6
)

In [ ]:
fig.update_xaxes(
    title="Budget Year",
    showgrid=False,
    range=[1991,2017],
    dtick=4
)

fig.update_yaxes(
    title="Total Expenditure",
    nticks=5
)

In [ ]:
fig.add_annotation(
    text="State Budget Crisis",
    x=2008,
    y=78000000,
    arrowhead=2
)

In [ ]:
import plotly.graph_objects as go

ca_mean = education.loc[
    education["STATE"]=="CALIFORNIA", 
    "TOTAL_EXPENDITURE"
].mean()

reference_line = go.Scatter(
    x=(1992,2016),
    y=(ca_mean, ca_mean),
    mode="lines",
    line={"color":"gray", "dash":"dash"},
    name="CA AVERAGE"
)

fig.add_trace(
    reference_line
)

In [ ]:
education2years = df.loc[:, ["YEAR", "STATE", "INSTRUCTION_EXPENDITURE"]]

education2years = education2years.query("STATE in ['CALIFORNIA', 'IDAHO', 'MASSACHUSETTS', 'NORTH_CAROLINA']")
education2years = education2years.query("YEAR in [2009, 2011]")

education2years

In [ ]:
education2years

In [ ]:
px.bar(
    education2years,
    x="YEAR",
    y="INSTRUCTION_EXPENDITURE",
    color="STATE"
)

In [ ]:
px.bar(
    education2years,
    x="YEAR",
    y="INSTRUCTION_EXPENDITURE",
    color="STATE"
).update_xaxes(type="category")

In [ ]:
state_revenue = df.loc[df["YEAR"]==2015, ["STATE", "STATE_REVENUE"]]

In [ ]:
px.choropleth(
    state_revenue,
    locations="STATE",
    color="STATE_REVENUE",
    locationmode="USA-states",
    scope="usa"
)

In [ ]:
import pandas as pd

df = pd.read_csv("European_Ski_Resorts.csv")

df.head()

In [ ]:
import plotly.express as px

px.choropleth(
    df,
    locations="Country",
    locationmode="country names",
    color="HighestPoint",
    scope="europe"
)

In [11]:
nyc = pd.read_csv("NYC_Collisions.csv")

In [12]:
nyc.head()

,COLLISION_ID,ACCIDENT_DATE,ACCIDENT_TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,STREET NAME,CROSS STREET NAME,FULL ADDRESS,VEHICLE TYPE,CONTRIBUTING FACTOR,PERSONS INJURED,PERSONS KILLED,PEDESTRIANS INJURED,PEDESTRIANS KILLED,CYCLIST INJURED,CYCLIST KILLED,MOTORIST INJURED,MOTORIST KILLED
0,4380785,2021-01-01,00:00:00,QUEENS,11434.0,40.664536,-73.77314,NaN,NaN,145-8 175 STREET,Station Wagon/Sport Utility Vehicle,Unspecified,0.0,0,0,0,0,0,0,0
1,4380974,2021-01-01,00:00:00,QUEENS,11355.0,40.754375,-73.82340,BEECH AVENUE,KISSENA BOULEVARD,NaN,Sedan,Unspecified,0.0,0,0,0,0,0,0,0
2,4381080,2021-01-01,00:00:00,BROOKLYN,11203.0,40.658295,-73.93109,UTICA AVENUE,WINTHROP STREET,NaN,Station Wagon/Sport Utility Vehicle,Driver Inattention/Distraction,1.0,0,0,0,0,0,1,0
3,4381095,2021-01-01,00:00:00,BROOKLYN,11212.0,40.661873,-73.92878,NaN,NaN,108 EAST 91 STREET,Sedan,Unspecified,0.0,0,0,0,0,0,0,0
4,4381962,2021-01-01,00:00:00,NaN,NaN,40.834198,-73.85169,WESTCHESTER AVENUE,NaN,NaN,Sedan,Unspecified,1.0,0,1,0,0,0,0,0

In [13]:
px.density_mapbox(
    nyc,
    lat="LATITUDE",
    lon="LONGITUDE",
    z="COLLISIONS",
    radius=10,
    mapbox_style="stamen-terrain",
    title="Collision Hotspots in Manhattan"
)

ValueError: Value of 'z' is not the name of a column in 'data_frame'. Expected one of ['COLLISION_ID', 'ACCIDENT_DATE', 'ACCIDENT_TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'STREET NAME', 'CROSS STREET NAME', 'FULL ADDRESS', 'VEHICLE TYPE', 'CONTRIBUTING FACTOR', 'PERSONS INJURED', 'PERSONS KILLED', 'PEDESTRIANS INJURED', 'PEDESTRIANS KILLED', 'CYCLIST INJURED', 'CYCLIST KILLED', 'MOTORIST INJURED', 'MOTORIST KILLED'] but received: COLLISIONS

In [ ]:
px.scatter_mapbox(
    nyc.loc[:15,:],
    lat="LATITUDE",
    lon="LONGITUDE",
    size="COLLISIONS",
    mapbox_style="open-street-map",
    title="Top 15 Collision Spots in Manhattan"
)

In [2]:
education = pd.read_csv("states_all.csv")

In [3]:
education["expenditure_per_student"] = education["TOTAL_EXPENDITURE"] / education["GRADES_ALL_G"]

education.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE,expenditure_per_student
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN,3.627221
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN,7.939520
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN,5.050774
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN,3.948044
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN,5.164536

In [6]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.Dropdown(
        id="X Column Picker",
        options=list(
            education.select_dtypes(include="number").columns
        ),
        value="expenditure_per_student"
    ),
    dcc.Graph(id="Graph")
])

@app.callback(
    Output("Graph", "figure"), 
    Input("X Column Picker", "value")
)
def plot_rev_scatter(x):
    if not x:
        raise PreventUpdate
    fig = px.scatter(
        education,
        x=x,
        y="AVG_MATH_8_SCORE",
        trendline="ols",
        title=f"Relationship between {x} & AVG_MATH_8_SCORE" 
    )
    return fig

if __name__ == "__main__":
    app.run_server(mode="inline", width="70%")

In [7]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.Dropdown(
        id="filter",
        options=education["STATE"].unique(),
        value=["CALIFORNIA", "OREGON"],
        multi=True
    ),
    dcc.Graph(id="graph")
])

@app.callback(
    Output("graph", "figure"), 
    Input("filter", "value")
)
def plot_rev_line(state):
    fig = px.line(
        education.query("STATE in @state"),
        x="YEAR",
        y="TOTAL_EXPENDITURE",
        color="STATE",
        title="Expenditure Over Time" 
    )
    return fig

if __name__ == "__main__":
    app.run_server(mode="inline")

In [4]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.Checklist(
        id="scores",
        options=[
            "AVG_MATH_4_SCORE", 
            "AVG_MATH_8_SCORE",
            "AVG_READING_4_SCORE",
            "AVG_READING_8_SCORE"
        ],
        value=["AVG_MATH_4_SCORE"]
    ),
    dcc.Graph(id="graph")
])

@app.callback(
    Output("graph", "figure"), 
    Input("scores", "value")
)
def plot_rev_hist(scores):
    fig = px.histogram(
        education,
        x=scores,
        barmode="overlay",
        title="Score Distribution"
    ).update_traces(opacity=.6)
    return fig

if __name__ == "__main__":
    app.run_server(mode="inline", width="85%")

In [8]:
app = JupyterDash(__name__)

app.layout = html.Div([
    "Trendline:",
    dcc.RadioItems(
        id="toggle",
        options=["On", "Off"],
        value=["Off"]
    ),
    dcc.Graph(id="graph")
])

@app.callback(
    Output("graph", "figure"), 
    Input("toggle", "value")
)
def plot_rev_scatter(ols):
    fig = px.scatter(
        education,
        x="expenditure_per_student",
        y="AVG_MATH_8_SCORE",
        trendline=None if ols == "Off" else "ols",
        title="The Relationship Between Spending and Test Scores"
    )
    return fig

if __name__ == "__main__":
    app.run_server(mode="inline")

In [9]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.Slider(id="spend", min=0, max=30, step=5, value=15),
    dcc.Graph(id="graph")
])

@app.callback(Output("graph", "figure"), Input("spend", "value"))
def plot_rev_bar(x):
    fig = px.bar(
        (education
         .loc[education["expenditure_per_student"] > x]
         .groupby("YEAR", as_index=False)
         .count()),
        x="YEAR",
        y="expenditure_per_student",
        title=f"States that spend over ${x} per student"
    )
    fig.update_yaxes(title="COUNT", range=[0,50])
    fig.update_xaxes(range=[1991,2017])
    return fig

if __name__ == "__main__":
    app.run_server(mode="inline", width="60%")

In [10]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.RangeSlider(id="spend", min=0, max=30, step=5, value=[10,15]),
    dcc.Graph(id="graph")
])

@app.callback(Output("graph", "figure"), Input("spend", "value"))
def plot_rev_bar(x):
    fig = px.bar(
        (education
         .loc[education["expenditure_per_student"].between(x[0],x[1])]
         .groupby("YEAR", as_index=False)
         .count()),
        x="YEAR",
        y="expenditure_per_student",
        title=f"States that spend between ${x[0]}-{x[1]} per student"
    )
    fig.update_yaxes(title="COUNT", range=[0,50])
    fig.update_xaxes(range=[1991,2017])
    return fig

if __name__ == "__main__":
    app.run_server(mode="inline", width="60%")

In [14]:
nyc = pd.read_csv("NYC_Collisions.csv")

nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125445 entries, 0 to 125444
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   COLLISION_ID         125445 non-null  int64
 1   ACCIDENT_DATE        125445 non-null  object
 2   ACCIDENT_TIME        125445 non-null  object
 3   BOROUGH              82108 non-null   object
 4   ZIP CODE             82094 non-null   float64
 5   LATITUDE             114305 non-null  float64
 6   LONGITUDE            114305 non-null  float64
 7   STREET NAME          91652 non-null   object
 8   CROSS STREET NAME    58102 non-null   object
 9   FULL ADDRESS         33792 non-null   object
 10  VEHICLE TYPE         123922 non-null  object
 11  CONTRIBUTING FACTOR  124814 non-null  object
 12  PERSONS INJURED      125444 non-null  float64
 13  PERSONS KILLED       125445 non-null  int64
 14  PEDESTRIANS INJURED  125445 non-null  int64
 15  PEDESTRIANS KILLED   125445 non-null  int64
 16  CYCLIST INJURED      125445 non-null  int64
 17  CYCLIST KILLED       125445 non-null  int64
 18  MOTORIST INJURED     125445 non-null  int64
 19  MOTORIST KILLED      125445 non-null  int64
dtypes: float64(4), int64(8), object(8)
memory usage: 19.1+ MB

In [28]:
collisions = (
    pd.read_csv("NYC_Collisions.csv")
    .astype({"ACCIDENT_DATE": "datetime64"})
    .loc[:,["ACCIDENT_DATE", "BOROUGH", "COLLISION_ID"]]
    .groupby(["ACCIDENT_DATE", "BOROUGH"], as_index=False)
    .count()
    .rename(columns = {
        "COLLISION_ID":"COLLISIONS", 
        "ACCIDENT_DATE":"DATE"}
           )  
)

collisions.head()

        DATE        BOROUGH  COLLISIONS
0 2021-01-01          BRONX          28
1 2021-01-01       BROOKLYN          72
2 2021-01-01      MANHATTAN          23
3 2021-01-01         QUEENS          44
4 2021-01-01  STATEN ISLAND           8

In [29]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.DatePickerSingle(
        id="date picker",
        min_date_allowed=collisions["DATE"].min(),
        max_date_allowed=collisions["DATE"].max(),
        initial_visible_month=collisions["DATE"].max(),
        date=collisions["DATE"].max(),
        display_format="YYYY-MM-DD"
    ),
    dcc.Graph(id="graph")
])

@app.callback(Output("graph", "figure"), Input("date picker", "date"))
def plot_collisions_bar(date):
    fig = px.bar(
        collisions.loc[collisions["DATE"].eq(date)],
        x="COLLISIONS",
        y="BOROUGH",
        title=f"Traffic Accidents in NYC on {date}"
    )
    return fig

if __name__ == "__main__":
    app.run_server(mode="inline")

In [30]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.DatePickerRange(
        id="dates",
        start_date=collisions["DATE"].min(),
        end_date=collisions["DATE"].max(),
        display_format="YYYY-MM-DD"
    ),
    dcc.Graph(id="graph")
])

@app.callback(
    Output("graph", "figure"),
    [Input("dates", "start_date"),Input("dates", "end_date")]
)
def plot_rev_line(start, end):
    fig = px.line(
        (collisions
         .loc[collisions["DATE"].between(start, end)]
         .groupby("DATE", as_index=False)
         .sum()),
        x="DATE",
        y="COLLISIONS",
        title=f"Traffic Accidents in NYC"
    )
    return fig

if __name__ == "__main__":
    app.run_server(mode="inline",width="60%")

TypeError: an integer is required (got type NoneType)

In [87]:
app = JupyterDash(__name__)

app.layout = html.Div([
    html.H2(id="header"),
    dcc.Dropdown(
        id="column",
        options=list(education.select_dtypes(include="number").columns),
        value="expenditure_per_student"
    ),
    dcc.Graph(id="graph")
])

@app.callback(
    Output("header", "children"),
    Output("graph", "figure"), 
    Input("column", "value")
)
def plot_rev_scatter(x):
    fig = px.scatter(
        education,
        x=x,
        y="AVG_MATH_8_SCORE",
        trendline="ols"
    )
    header = f"Avg Math 8 Score vs {x.title().replace('_', ' ')}"
    return header, fig

if __name__ == "__main__":
    app.run_server(mode="inline", width="55%")

In [92]:
app = JupyterDash(__name__)

app.layout = html.Div([
    html.H2(id="header"),
    dcc.Dropdown(
        id="y column",
        options=list(education.select_dtypes(include="number").columns),
        value="AVG_MATH_8_SCORE"
    ),
    dcc.Dropdown(
        id="x column",
        options=list(education.select_dtypes(include="number").columns),
        value="expenditure_per_student"
    ),
    dcc.Graph(id="graph")
])

@app.callback(
    [Output("header", "children"), Output("graph", "figure")], 
    [Input("x column", "value"), Input("y column", "value")]
)
def plot_rev_scatter(x, y):
    fig = px.scatter(
        education,
        x=x,
        y=y,
        trendline="ols"
    )
    header = f"{y.title().replace('_', ' ')} vs {x.title().replace('_', ' ')}"
    return header, fig

if __name__ == "__main__":
    app.run_server(mode="inline", width="55%")

In [98]:
app = JupyterDash(__name__)

app.layout = html.Div([
    dcc.Dropdown(
        id="x column",
        options=list(education.select_dtypes(include="number").columns),
        value="expenditure_per_student"
    ),
    dcc.Dropdown(
        id="y column",
        options=list(education.select_dtypes(include="number").columns),
        value="AVG_MATH_8_SCORE"
    ),
    dcc.Graph(id="graph")
])

@app.callback(
    Output("graph", "figure"), 
    Input("x column", "value"), 
    Input("y column", "value")
)
def plot_rev_scatter(x, y):
    fig = px.scatter(
        education,
        x=x,
        y=y,
        trendline="ols"
    )
    return fig

if __name__ == "__main__":
    app.run_server(mode="inline", width="55%")

In [102]:
app = JupyterDash(__name__)

app.layout = html.Div([
    html.H2(id="header"),
    dcc.Dropdown(
        id="x column",
        options=list(education.select_dtypes(include="number").columns),
        value="expenditure_per_student"
    ),
    dcc.Dropdown(
        id="y column",
        options=list(education.select_dtypes(include="number").columns),
        value="AVG_MATH_8_SCORE"
    ),
    dcc.Graph(id="graph")
])

@app.callback(
    Output("header", "children"),
    Output("graph", "figure"), 
    Input("x column", "value"), 
    Input("y column", "value")
)
def plot_rev_scatter(x, y):
    fig = px.scatter(
        education,
        x=x,
        y=y,
        trendline="ols"
    )
    header = f"{x.title().replace('_', ' ')} vs {y.title().replace('_', ' ')}"
    return header, fig

if __name__ == "__main__":
    app.run_server(mode="inline", width="55%")