In [2]:
from jupyter_dash import JupyterDash
from dash import dcc, html
import dash_bootstrap_components as dbc
from dash.dependencies import Output, Input
from dash.exceptions import PreventUpdate

import plotly.express as px
import pandas as pd
import numpy as np

In [5]:
education = pd.read_csv("states_all.csv").iloc[:, 1:]

education.head()

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

In [6]:
education_2019 = (
    education
    .loc[education["YEAR"] == 2019]
    .assign(
        math4_rank = lambda x: x["AVG_MATH_4_SCORE"].rank(method='min', ascending=False),
        math8_rank = lambda x: x["AVG_MATH_8_SCORE"].rank(method='min', ascending=False),
        reading4_rank = lambda x: x["AVG_READING_4_SCORE"].rank(method='min', ascending=False),
        reading8_rank = lambda x: x["AVG_READING_8_SCORE"].rank(method='min', ascending=False)
    )
)

education_2019.head()

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE,math4_rank,math8_rank,reading4_rank,reading8_rank
1662,ALABAMA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,230.0,269.0,212.0,253.0,53.0,51.0,50.0,50.0
1663,ALASKA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,232.0,274.0,204.0,252.0,49.0,45.0,53.0,51.0
1664,ARIZONA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,238.0,280.0,216.0,259.0,36.0,29.0,42.0,39.0
1665,ARKANSAS,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,233.0,274.0,215.0,259.0,48.0,45.0,47.0,39.0
1666,CALIFORNIA,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,235.0,276.0,216.0,259.0,46.0,40.0,42.0,39.0

In [7]:
from dash_bootstrap_templates import load_figure_template

In [8]:
dbc_css = "https://cdn.jsdelivr.net/gh/AnnMarieW/dash-bootstrap-templates/dbc.min.css"

app = JupyterDash(__name__,  external_stylesheets=[dbc.themes.CYBORG, dbc_css])

load_figure_template("CYBORG")

app.layout = html.Div([
     dcc.Markdown(id="Markdown Title", style={"textAlign": "center", "fontSize": 28}),
     dbc.Row([
         dcc.Dropdown(
             options=[
                 {"label": state.title(), "value": state} for state in education["STATE"].unique()
             ],
             placeholder="Pick a State",
             className="dbc",
             id="State Dropdown"
         ), 
        ]),
#     html.Br(),
    dbc.Row([
        dbc.Col(dbc.Card(id="KPI 1"), style={"textAlign": "center", "color": "white"}), 
        dbc.Col(dbc.Card(id="KPI 2"), style={"textAlign": "center", "color": "white"}), 
        dbc.Col(dbc.Card(id="KPI 3"), style={"textAlign": "center", "color": "white"}),
        dbc.Col(dbc.Card(id="KPI 4"), style={"textAlign": "center", "color": "white"}), 
        ]),
    dbc.Row([
        dbc.Col(dbc.Card(dcc.Graph(id="Performance Over Time"))),
        dbc.Col(dbc.Card(dcc.Graph(id="Funding Over Time")))
        ])
]) 


@app.callback(
    Output("Markdown Title", "children"),
    Output("KPI 1", "children"),
    Output("KPI 2", "children"),
    Output("KPI 3", "children"),
    Output("KPI 4", "children"),
    Output("Performance Over Time", "figure"),
    Output("Funding Over Time", "figure"),
    Input("State Dropdown", "value")
)

def enrollment_chart(state):
    if not state:
        raise PreventUpdate
    markdown_title = f"Education Stats for {state.title()}"
    kpi_1 = f"Math 4 Rank: {int(education_2019.query('STATE == @state').math4_rank.values)}"
    kpi_2 = f"Math 8 Rank: {int(education_2019.query('STATE == @state').math8_rank.values)}"
    kpi_3 = f"Reading 4 Rank: {int(education_2019.query('STATE == @state').reading4_rank.values)}"
    kpi_4 = f"Reading 8 Rank: {int(education_2019.query('STATE == @state').reading8_rank.values)}"
    line_df = education.query(f"STATE == '{state}'").sort_values("YEAR")
    line = px.line(
        line_df,
        x="YEAR",
        y="GRADES_ALL_G",
        title="Annual Attendance"
    ).update_layout(
        title={
            "x": .5,
            "y": .85
        }
    ).update_xaxes(
        {"title": {"text": ""}}
    ).update_yaxes({
        "title": {"text": "Total Enrollment"}
    })
    
    bar_df = (education
              .query("YEAR in [1992, 2019] and STATE == @state")
              .rename({"AVG_MATH_4_SCORE": "4th Grade", "AVG_MATH_8_SCORE": "8th Grade"}, axis=1)
             )
    
    bar = px.bar(
        bar_df,
        x="YEAR",
        y=["4th Grade", "8th Grade"],
        barmode="group",
        title="1992 vs 2019 Test Scores"
)
    bar.update_layout(
        title={
            "x": .5,
            "y": .85
        },
        legend={
        "x": -.1,
        "title": None,
        "orientation": "h"
        }
    ).update_xaxes({
        "title": {"text": ""}
    }).update_yaxes({
        "title": {"text": "Avg. Score"}
    })
    
    return markdown_title, kpi_1, kpi_2, kpi_3, kpi_4, line, bar

app.run_server(debug=True, mode="inline", port=8100)

In [3]:
app = JupyterDash(__name__, external_stylesheets=[dbc.themes.SLATE])

app.layout = html.Div(
    [
        dcc.Tabs(
            id="tabs",
            children=[
                dcc.Tab(
                    label="TAB 1",
                    value="tab1",
                    children = [html.H1("WELCOME TO TAB 1")]
                ),
                dcc.Tab(
                    label="TAB 2",
                    value="tab2",
                    children=[html.H1("WELCOME TO TAB 2")]
                )
            ]
        )
    ]
)
    
app.run_server(debug=True, mode="inline", port=8820)

In [11]:
app = JupyterDash(__name__, external_stylesheets=[dbc.themes.DARKLY])

app.layout = html.Div(
    [
        dcc.Tabs(
            id="tabs",
            value="tab-1",
            children=[
                dcc.Tab(
                    label="National Overview",
                    value="tab-1",
                    children=[
                        dcc.RadioItems(
                            options=["AVG_MATH_8_SCORE", "AVG_READING_8_SCORE"], 
                            value="AVG_MATH_8_SCORE",
                            id="Metric-Radio",
                            style={"color":"black"}
                        ),
                        dcc.Graph(id="test_score_map",
                            figure=px.choropleth(
    summary_dataframe, 
    locations="STATE_CODE",
    color="AVG_MATH_8_SCORE",
    locationmode="USA-states",
    scope="usa",
    title="National Education Performance",
    template="plotly_dark",
)), 
                        html.Br(),
                        dbc.Row([
                            dbc.Col(dcc.Graph(id='enrollment_graph',)),
                            dbc.Col(dcc.Graph(id='spending_graph',
                            figure=px.bar(
                                summary_dataframe.sort_values("per_student_spend"),
                                x="per_student_spend",
                                y="STATE",
                                 template="plotly_dark",
#                                 height = 1000
                            )
                            ),)],
                            )],)
                ,
                dcc.Tab(
                    label="State Focus",
                    value="tab-2",
                    children=[
                        dcc.Markdown(id="Markdown Title"),
                        dbc.Row(
                            [
                                dcc.Dropdown(
                                    options=[
                                        {"label": state.title(), "value": state}
                                        for state in education["STATE"].unique()
                                    ],
                                    value="ALABAMA",
                                    style={"color": "black"},
                                    id="State Dropdown",
                                ),
                            ]
                        ),
                        html.Br(),
                        dbc.Row(
                            [
                                dbc.Col(
                                    dbc.Card(id="KPI 1"), style={"textAlign": "center"}
                                ),
                                dbc.Col(
                                    dbc.Card(id="KPI 2"), style={"textAlign": "center"}
                                ),
                                dbc.Col(
                                    dbc.Card(id="KPI 3"), style={"textAlign": "center"}
                                ),
                                dbc.Col(
                                    dbc.Card(id="KPI 4"), style={"textAlign": "center"}
                                ),
                            ]
                        ),
                        dbc.Row(
                            [
                                dbc.Col(
                                    dbc.Card(dcc.Graph(id="Performance Over Time"))
                                ),
                                dbc.Col(dbc.Card(dcc.Graph(id="Funding Over Time"))),
                            ]
                        ),
                    ],
                ),
            ],
        )
    ]
)
@app.callback(
    Output("enrollment_graph", "figure"), 
    Input("Metric-Radio", "value")
)

def bar_chart(column):
    fig = px.bar( 
        summary_dataframe.sort_values(f"{column}"),
        x=f"{column}",
        y="STATE",
        template="plotly_dark",
    )
    
    return fig

@app.callback(
    Output("Markdown Title", "children"),
    Output("KPI 1", "children"),
    Output("KPI 2", "children"),
    Output("KPI 3", "children"),
    Output("KPI 4", "children"),
    Output("Performance Over Time", "figure"),
    Output("Funding Over Time", "figure"),
    Input("State Dropdown", "value"),
)
def other_func(state):
    if not state:
        raise PreventUpdate
    markdown_title = f"{state.title()} :fire:"
    kpi_1 = [
        "Math 4 Rank:",
        html.Span(
            f"{int(education_2019.query('STATE == @state').math4_rank.values)}",
            style={"color": "red", "font-weight": "bold"},
        ),
    ]
    kpi_2 = (
        f"Math 8 Rank: {int(education_2019.query('STATE == @state').math8_rank.values)}"
    )
    kpi_3 = f"Reading 4 Rank: {int(education_2019.query('STATE == @state').reading4_rank.values)}"
    kpi_4 = f"Reading 8 Rank: {int(education_2019.query('STATE == @state').reading8_rank.values)}"
    line_df = education.query(f"STATE == '{state}'").sort_values("YEAR")
    line = px.line(
        line_df,
        x="YEAR",
        y="GRADES_ALL_G",
        title="Annual Attendance",
        template="plotly_dark",
    )

    bar_df = education.query("YEAR in [1992, 2019] and STATE == @state")
    bar = px.bar(
        bar_df,
        x="YEAR",
        y=["AVG_MATH_4_SCORE", "AVG_MATH_8_SCORE"],
        barmode="group",
        title="1992 vs 2019 Test Scores",
        template="plotly_dark",
    ).update_layout(
        legend={
            "title": None,
            "x": 0,
            "y": 1.1,
            "orientation": "h",
            #          "entrywidth":70,
            "xanchor": "right",
            #         "yanchor": "bottom"
        }
    )

    return markdown_title, kpi_1, kpi_2, kpi_3, kpi_4, line, bar


app.run_server(debug=True, port=8820)

NameError: name 'summary_dataframe' is not defined