In [20]:
import pandas as pd
import numpy as np

import plotly.graph_objects as go
import plotly.express as px

from jupyter_dash import JupyterDash
from dash import dcc, html
from dash import html

from dash.dependencies import Output, Input
from dash.exceptions import PreventUpdate

In [21]:
education = pd.read_csv(
    "states_all.csv",
    usecols=[
        "STATE", 
        "YEAR", 
        "TOTAL_EXPENDITURE",
        "INSTRUCTION_EXPENDITURE",          
        "SUPPORT_SERVICES_EXPENDITURE",     
        "OTHER_EXPENDITURE",                
        "CAPITAL_OUTLAY_EXPENDITURE",       
        "GRADES_ALL_G", 
        "AVG_MATH_8_SCORE"
    ]
).assign(
    expenditure_per_student = lambda x: x["TOTAL_EXPENDITURE"] / x["GRADES_ALL_G"],
    above_avg_math8 = lambda x: np.where(x["AVG_MATH_8_SCORE"] > 278.6,'Above Avg', 'Below Avg')
)

In [26]:
app = JupyterDash(__name__)

app.layout = html.Div([
   dcc.Dropdown(
        id="filter",
        options=education["STATE"].unique(),
        value="CALIFORNIA", # ,"OREGON" #make list
#         multi=True,
       #style={"backgroundColor": "black", "color": "green"}
    ),
    dcc.Graph(id="graph"),
])

@app.callback(
    Output('graph', 'figure'),
    Input("filter", "value"),
)

def plot_rev_scatter(state):
    fig = px.line(
        (education
         .query("STATE in @state and 1992 < YEAR < 2016")
         .groupby("YEAR")
         .sum()
         .reset_index()
        ), 
        x="YEAR", 
        y="TOTAL_EXPENDITURE",
        title = f"Expenditure Over Time in {state.title()}",
        #f"Expenditure Over Time, Selected States",
        #f"Expenditure Over Time in {state[0].title()} and {state[1].title()} Selected States",
    ) 
    return fig


if __name__ == "__main__":
    app.run_server(mode="inline",debug=True)

        DATE        BOROUGH  COLLISIONS
0 2021-01-01          BRONX          28
1 2021-01-01       BROOKLYN          72
2 2021-01-01      MANHATTAN          23
3 2021-01-01         QUEENS          44
4 2021-01-01  STATEN ISLAND           8

In [114]:
app = JupyterDash(__name__)

app.layout = html.Div([
   dcc.RangeSlider(
        id="score_slider",
        min=education.query("YEAR == 2013")["AVG_MATH_8_SCORE"].min(),
        max=education.query("YEAR == 2013")["AVG_MATH_8_SCORE"].max(),
        step=5,
        value=[270, 280]
    ),
    dcc.Graph(id="graph"),
])

@app.callback(
    Output('graph', 'figure'),
    Input("score_slider", "value"),
)

def plot_rev_scatter(score):
    df = (
        education
        .query("YEAR == 2013")
        .assign(
            score_cutoff =  lambda x: np.where(
                x["AVG_MATH_8_SCORE"].between(score[0], score[1]),
                'In Range', 
                'Out of Range'
            )
        )
    )
    fig = px.scatter(
        df,
        x="AVG_MATH_8_SCORE", 
        y="expenditure_per_student",
        color="score_cutoff",
        hover_name="STATE",
        title = f"Score and Expenditure vs. Threshold",
        )
    return fig


if __name__ == "__main__":
    app.run_server(mode="inline",debug=True)

In [115]:
collisions = (
    pd.read_csv("NYC_Collisions.csv")
    .astype({"ACCIDENT_DATE": "datetime64"})
    .loc[:,["ACCIDENT_DATE", "BOROUGH", "COLLISION_ID"]]
    .groupby(["ACCIDENT_DATE", "BOROUGH"], as_index=False)
    .count()
    .rename(columns={
        "COLLISION_ID":"COLLISIONS", 
        "ACCIDENT_DATE":"DATE"})  
)

collisions.head()

        DATE        BOROUGH  COLLISIONS
0 2021-01-01          BRONX          28
1 2021-01-01       BROOKLYN          72
2 2021-01-01      MANHATTAN          23
3 2021-01-01         QUEENS          44
4 2021-01-01  STATEN ISLAND           8

In [114]:
app = JupyterDash(__name__)

app.layout = html.Div([
   dcc.RangeSlider(
        id="score_slider",
        min=education.query("YEAR == 2013")["AVG_MATH_8_SCORE"].min(),
        max=education.query("YEAR == 2013")["AVG_MATH_8_SCORE"].max(),
        step=5,
        value=[270, 280]
    ),
    dcc.Graph(id="graph"),b
])

@app.callback(
    Output('graph', 'figure'),
    Input("score_slider", "value"),
)

def plot_rev_scatter(score):
    df = (
        education
        .query("YEAR == 2013")
        .assign(
            score_cutoff =  lambda x: np.where(
                x["AVG_MATH_8_SCORE"].between(score[0], score[1]),
                'In Range', 
                'Out of Range'
            )
        )
    )
    fig = px.scatter(
        df,
        x="AVG_MATH_8_SCORE", 
        y="expenditure_per_student",
        color="score_cutoff",
        hover_name="STATE",
        title = f"Score and Expenditure vs. Threshold",
        )
    return fig


if __name__ == "__main__":
    app.run_server(mode="inline",debug=True)

In [116]:
collisions = (
    pd.read_csv("NYC_Collisions.csv")
    .astype({"ACCIDENT_DATE": "datetime64"})
    .loc[:,["ACCIDENT_DATE", "BOROUGH", "COLLISION_ID"]]
    .groupby(["ACCIDENT_DATE", "BOROUGH"], as_index=False)
    .count()
    .rename(columns={
        "COLLISION_ID":"COLLISIONS", 
        "ACCIDENT_DATE":"DATE"})  
)

collisions.head()

        DATE        BOROUGH  COLLISIONS
0 2021-01-01          BRONX          28
1 2021-01-01       BROOKLYN          72
2 2021-01-01      MANHATTAN          23
3 2021-01-01         QUEENS          44
4 2021-01-01  STATEN ISLAND           8

In [180]:
from datetime import datetime
from datetime import date

app = JupyterDash(__name__)


app.layout = html.Div([
    dcc.DatePickerRange(
        id="date picker",
        min_date_allowed=collisions["DATE"].min(),
        max_date_allowed=collisions["DATE"].max(),
        initial_visible_month=collisions["DATE"].max(),
        start_date=collisions["DATE"].min(),
        end_date=date(2022,1,1),
#         display_format="YY-MMM-Do"
    ),
    dcc.Graph(id="graph")
])

@app.callback(Output("graph", "figure"), 
              [Input("date picker", "start_date"),
               Input("date picker", "end_date"),])
def plot_collisions_bar(start_date, end_date):
    fig = px.bar(
        (collisions
         .loc[collisions["DATE"].between(start_date, end_date)]
         .groupby("BOROUGH", as_index=False)
         .sum()
        )
        ,
        x="COLLISIONS",
        y="BOROUGH",
        title=f"Traffic Accidents in NYC between {start_date[:10]} and {end_date[:10]}"
    )
    return fig

if __name__ == "__main__":
    app.run_server(mode="inline", port=8001, width="60%")

In [192]:
from datetime import datetime
from datetime import date

app = JupyterDash(__name__)


app.layout = html.Div([
    dcc.DatePickerRange(
        id="date picker",
        min_date_allowed=collisions["DATE"].min(),
        max_date_allowed=collisions["DATE"].max(),
        initial_visible_month=collisions["DATE"].max(),
        start_date=collisions["DATE"].min(),
        end_date=date(2022,1,1),
#         display_format="YY-MMM-Do"
),
    dcc.RadioItems(
        id="metric radio",
        options=["sum", "mean", "median", "min", "max"],
        value="sum"
),
    dcc.Dropdown(
        id="color dropdown",
        options=["red", "green", "blue"],
        value="blue"
),
    dcc.Graph(id="graph")
])

@app.callback(
    Output("graph", "figure"), 
    [Input("date picker", "start_date"), Input("date picker", "end_date")],
    Input("metric radio", "value"),
    Input("color dropdown", "value"),
)
def plot_collisions_bar(start_date, end_date, metric, color): 
    fig = px.bar(
        (collisions
         .loc[collisions["DATE"].between(start_date, end_date)]
         .groupby("BOROUGH", as_index=False)
         .agg({"COLLISIONS": metric})
        )
        ,
        x="COLLISIONS",
        y="BOROUGH",
        title=f"Traffic Accidents in NYC between {start_date[:10]} and {end_date[:10]}"
    ).update_traces(marker_color=color)
    return fig

if __name__ == "__main__":
    app.run_server(mode="inline", port=8001, width="60%")

In [199]:
from datetime import datetime
from datetime import date

app = JupyterDash(__name__)


app.layout = html.Div([
    dcc.DatePickerRange(
        id="date picker",
        min_date_allowed=collisions["DATE"].min(),
        max_date_allowed=collisions["DATE"].max(),
        initial_visible_month=collisions["DATE"].max(),
        start_date=collisions["DATE"].min(),
        end_date=date(2022,1,1),
#         display_format="YY-MMM-Do"
),
    dcc.RadioItems(
        id="metric radio",
        options=["sum", "mean", "median", "min", "max"],
        value="sum"
),
    dcc.Dropdown(
        id="color dropdown",
        options=["red", "green", "blue"],
        value="blue"
),
    dcc.Graph(id="graph"),
    dcc.Graph(id="graph2")
])

@app.callback(
    Output("graph", "figure"), 
    Output("graph2", "figure"), 
    [Input("date picker", "start_date"), Input("date picker", "end_date")],
    Input("metric radio", "value"),
    Input("color dropdown", "value"),
)
def plot_collisions_bar(start_date, end_date, metric, color): 
    
    df = collisions.loc[collisions["DATE"].between(start_date, end_date)]
    
    fig = px.bar(
        (df
         .groupby("BOROUGH", as_index=False)
         .agg({"COLLISIONS": metric})
        )
        ,
        x="COLLISIONS",
        y="BOROUGH",
        title=f"Traffic Accidents in NYC between {start_date[:10]} and {end_date[:10]}"
    ).update_traces(marker_color=color)
    
    fig2 = px.line(
        df,
        x="DATE",
        y="COLLISIONS",
        color="BOROUGH"
    )
    
    return fig , fig2

if __name__ == "__main__":
    app.run_server(mode="inline", port=8001)